* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: .32rem;
}

html,
body,
.wrap {
  width: 100%;
  height: 100%;
}

html {
  font-size: 625%;
}

a {
  text-decoration: none;
}

i,
em {
  font-style: normal;
}
